{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "globals": {
        "window": true
    },
    "rules": {
        "react/prop-types": 0,
        "react/jsx-props-no-spreading": 0,
        "react-hooks/rules-of-hooks": "error", // 检查 Hook 的规则
        "react-hooks/exhaustive-deps": [
            "warn", {
                "additionalHooks": "useRecoilCallback"
            }
        ]
    }
}
